.song-section {
    background-color: rgb(40, 40, 40);
    border-radius: 0.5rem;
    color: white;
    padding: 1rem;
}

.song-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    padding-inline: 1.5rem;
}

.add-song {
    display: flex;
    align-items: center;
    padding: 1ch 2ch;
    border-radius: 0.5rem;
    gap: 1rem;
    color: black;
    background-color: springgreen;
}

.add-song:hover {
    background-color: palegreen;
    cursor: pointer;
}

.song-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding-inline: 1rem;
}

.song-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    color: white;
    gap: 1rem;
    min-width: 24rem;
    background-color: rgb(20, 20, 20);
    border-radius: 0.5rem;
}

.song-item .fa-play {
    color: black;
    background-color: springgreen;
    padding: 1rem;
    border-radius: 100%;
}

.song-info {
    display: flex;
    gap: 0.4rem;
    flex-direction: column;
}

.song-item:hover {
    background-color: darkslategray;
    cursor: pointer;
}