<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Halaman authenticated</title>
</head>

<body>
    <h1>Halaman authenticated</h1>
    <p>
        <%= session %>
    </p>
    <a href="/logout">Logout</a>
</body>

</html>