<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Halaman private</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
</head>

<body>
    <h1>Halaman private</h1>
</body>

</html>